<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edm.music.t3v">

    <application
        android:name="edm.music.t3v.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/iconlauncher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name="edm.music.t3v.activity.SplashScreen"
            android:screenOrientation="userPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Play"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name="activity.ListPost"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name="activity.myComment"
            android:screenOrientation="userPortrait" />

        <service android:name=".app.Playmusicservice"></service>
        <!--<service android:name=".app.myAudioService" />-->
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest>